@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f2f2f2;
	font-family: 'Inconsolata', monospace;
	min-height: 100vh;
}
.container {
	width: 1200px;
	margin: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} 

.container-button {
	width: 100%;
	display: inline-flex;
	width: 20%;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #141414;
	color: #fff;
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.button span {
	position: relative;
	z-index: 2;
	transition: .3s ease all;
}


.button.one {
	background: none;
	color: #000;
}

.button.one svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.button.one rect {
	width: 100%;
	height: 100%;
	stroke: #6D9886;
	stroke-width: 5px;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	transition: .6s ease all;
}

.button.one:hover rect {
	stroke-dashoffset: 0;
}